<div class="row featurette">
  <div class="col-md-5">
    <%= image_tag image_title, class: 'featurette-image img-responsive center-block',
                                 alt: image_alt_title,
                               style: 'width: 350px; height: 350px' %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">
      <%= feature_heading %>
      <span class="text-muted">
        <%= feature_subtitle %>
      </span>
    </h2>
    <p class="lead">
      <%= feature_description %>
    </p>
  </div>
</div>