<div class="col-lg-4" style="text-align: center;">
  <%= image_tag image_title, alt: image_alt_title,
                           class: 'img-circle',
                           style: 'width: 140px; height: 140px;' %>
  <h2><%= heading %></h2>
  <p><%= paragraph %></p>
  <p>
    <a class="btn btn-default" href="#" role="button">View details »</a>
  </p>
</div>