<br>
<hr>
<br>
<% feature_heading  = t '.first_feature_heading' %>
<% feature_subtitle = t '.first_feature_subtitle' %>
<% feature_description = t '.first_feature_description' %>
<%= render partial: 'web/static_pages/feature_right',
           locals: {image_title: '300x300.png',
                    image_alt_title: '300x300',
                    feature_heading: feature_heading,
                    feature_subtitle: feature_subtitle,
                    feature_description: feature_description } %>
<br>
<hr>
<br>
<% feature_heading  = t '.second_feature_heading' %>
<% feature_subtitle = t '.second_feature_subtitle' %>
<% feature_description = t '.second_feature_description' %>
<%= render partial: 'web/static_pages/feature_left',
           locals: {image_title: '300x300.png',
                    image_alt_title: '300x300',
                    feature_heading: feature_heading,
                    feature_subtitle: feature_subtitle,
                    feature_description: feature_description } %>
<br>
<hr>
<br>
<% feature_heading  = t '.third_feature_heading' %>
<% feature_subtitle = t '.third_feature_subtitle' %>
<% feature_description = t '.third_feature_description' %>
<%= render partial: 'web/static_pages/feature_right',
           locals: {image_title: '300x300.png',
                    image_alt_title: '300x300',
                    feature_heading: feature_heading,
                    feature_subtitle: feature_subtitle,
                    feature_description: feature_description } %>
<br>
<hr>
<br>
<% feature_heading  = t '.fourth_feature_heading' %>
<% feature_subtitle = t '.fourth_feature_subtitle' %>
<% feature_description = t '.fourth_feature_description' %>
<%= render partial: 'web/static_pages/feature_left',
           locals: {image_title: '300x300.png',
                    image_alt_title: '300x300',
                    feature_heading: feature_heading,
                    feature_subtitle: feature_subtitle,
                    feature_description: feature_description } %>
