<h3>Section B</h3>
<br>
<div class="row">
  <% heading   = t '.first_heading' %>
  <% paragraph = t '.first_paragraph' %>
  <%= render partial: 'web/static_pages/recommand',
             locals: {image_title: '250x250.png',
                      image_alt_title: '250x250',
                      heading: heading,
                      paragraph: paragraph} %>

  <% heading   = t '.second_heading' %>
  <% paragraph = t '.second_paragraph' %>
  <%= render partial: 'web/static_pages/recommand',
             locals: {image_title: '250x250.png',
                      image_alt_title: '250x250',
                      heading: heading,
                      paragraph: paragraph} %>

  <% heading   = t '.third_heading' %>
  <% paragraph = t '.third_paragraph' %>
  <%= render partial: 'web/static_pages/recommand',
             locals: {image_title: '250x250.png',
                      image_alt_title: '250x250',
                      heading: heading,
                      paragraph: paragraph} %>
</div>