<% title = t '.title' %>
<% provide(:title, title) %>
<h1><%= t '.heading' %></h1>
<%= link_to (t '.forgot_your_password'), new_password_path(resource_name) %><br />
<%= link_to (t '.Didnt_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />