<br>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#sectionA" data-toggle="tab"><%= t '.section_A' %></a></li>
  <li role="presentation"><a href="#sectionB" data-toggle="tab"><%= t '.section_B' %></a></li>
  <li role="presentation"><a href="#sectionC" data-toggle="tab"><%= t '.section_C' %></a></li>
</ul>
<br>
<div class="tab-content">
  <div id="sectionA" class="tab-pane fade in active">
    <%= render partial: 'section_a' %>
  </div>

  <div id="sectionB" class="tab-pane fade">
    <%= render partial: 'section_b' %>
  </div>

  <div id="sectionC" class="tab-pane fade">
    <%= render partial: 'section_c' %>
  </div>
</div>
