<p>Welcome <%= @user.username %>!</p>

<p><%= t('.You_can_confirm_your_account_email_through_the_link_below') %></p>

<p><%= link_to t('.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
