<div>
  <span class="label label-success" style="width: 80px; height: 18px; display: inline-block">
    <%= user_attribute_description %>
  </span>
  <span class="label" style="width: 165px; color: #000000; display: inline-block">
    <%= user_attribute %>
  </span>
</div>