<br/>
<div class="row">
  <aside class="col-md-4">
    <div style="display: block">
      <%= gravatar_for @user %>
    </div>
    <br/>
    <div style="display: block">
      <%= render 'web/shared/stat' %>
    </div>
    <br/>
    <div>
      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('.Email'),
                           user_attribute: @user.email } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('.Name'),
                           user_attribute: @user.username } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.company'),
                           user_attribute: @user.company } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.country'),
                           user_attribute: @user.country } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.state'),
                           user_attribute: @user.state } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.city'),
                           user_attribute: @user.city } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.address1'),
                           user_attribute: @user.address1 } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.address2'),
                           user_attribute: @user.address2 } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.dial_code'),
                           user_attribute: @user.dial_code } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.phone'),
                           user_attribute: @user.phone } %>

      <%= render partial: 'web/users/users/user_attribute',
                 locals: { user_attribute_description: t('users.registrations.edit.telephone'),
                           user_attribute: @user.telephone } %>

    </div>
  </aside>
  <div class="col-md-8">
    <h2><%= t('.User') %></h2>


  </div>
</div>

