<div class="container">
  <div class="carousel-caption">
    <h2>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= " #{caption}" %>
    </h2>
    <p><%= description %></p>
    <p>
      <a class="btn btn-primary btn-xl" href="#" role="button">
       <%= button %>
      </a>
    </p>
  </div>
</div>

