<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="home-page-carousel" data-slide-to="0" class="active"></li>
    <li data-target="home-page-carousel" data-slide-to="1"></li>
    <li data-target="home-page-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item bg bg1 active">
      <%= render partial: 'web/layouts/carousel_part', locals: {slide_title: (t '.first_slide_title'),
                                                             caption: (t '.first_slide_caption'),
                                                             description: (t '.first_slide_description'),
                                                             button: (t '.first_slide_button')} %>
    </div>
    <div class="item bg bg2">
      <%= render partial: 'web/layouts/carousel_part', locals: {slide_title: (t '.second_slide_title'),
                                                             caption: (t '.second_slide_caption'),
                                                             description: (t '.second_slide_description'),
                                                             button: (t '.second_slide_button')} %>
    </div>
    <div class="item bg bg3">
      <%= render partial: 'web/layouts/carousel_part', locals: {slide_title: (t '.third_slide_title'),
                                                             caption: (t '.third_slide_caption'),
                                                             description: (t '.third_slide_description'),
                                                             button: (t '.third_slide_button')} %>
    </div>
  </div>

  <a class="left carousel-control"
     href="#home-page-carousel"
     role="button"
     data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span>
    <span class="sr-only"><%= t '.Previous' %></span>
  </a>
  <a class="right carousel-control" href="#home-page-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t '.Next' %></span>
  </a>
</div>