<footer class="footer">
  <nav>
    <ul id="function_links">
      <li><%= link_to (t '.home').to_s,    home_path %></li>
      <li><%= link_to (t '.help').to_s,    help_path %></li>
      <li><%= link_to (t '.about').to_s,   about_path %></li>
      <li><%= link_to (t '.contact').to_s, contact_path %></li>
      <li><%= link_to (t '.terms').to_s,   terms_path %></li>
      <br>
      <li><%= link_to (t '.top').to_s, '#' %></li>
      <br>
      <small>
        <b>© 2015 iSignin, Inc. All rights reserved.</b>
      </small>
    </ul>
  </nav>
</footer>