<!--Sign up modal from navbar-->
<%= render partial: 'web/users/registrations/signup_modal' %>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <% if user_signed_in? %>
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#signin-navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'iSignin', root_path, id: 'logo', class: 'navbar-brand' %>
      </div>
      <div id="signin-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to (t '.Users'), users_path %></li>
              <li class="dropdown">
                <button id="account-btn"
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false">
                  <%= t '.Account' %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to (t '.Profile'), user_path(current_user) %></li>
                  <li><%= link_to (t '.Settings'), edit_user_registration_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to (t '.Sign_out'), destroy_user_session_path, method: 'delete' %></li>
                </ul>
              </li>
          <% end %>
        </ul>
      </div>
    <% else %>
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'iSignin', root_path, id: 'logo', class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= form_for(:user, url: session_path(:user), html: { class: 'navbar-form navbar-right'} ) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, placeholder: (t '.Email'), class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, placeholder: (t '.Password'), class: 'form-control' %>
              </div>
              <%= f.submit (t '.Sign_in'), class: 'btn btn-primary', id: 'Signin_btn' %>
              <button id="Signup_btn"
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#signupModal">
                <%= t '.Signup' %>
              </button>
          <% end %>
        </div>
    <% end %>
  </div>
</nav>