<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= favicon_link_tag 'favicon.ico' %>
  <% %w(57 60 72 76 114 120 144 152 180).each do |s| %>
      <%= favicon_link_tag "apple-touch-icon-#{s}x#{s}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{s}x#{s}" %>
  <% end %>

  <% %w(16 32).each do |s| %>
      <%= favicon_link_tag "favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}" %>
  <% end %>

  <title><%= full_title yield(:title) %></title>

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <meta name="description" content="a sign in application">
  <meta name="author" content="Damon Yuan">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <%=  render 'web/layouts/shim' %>
</head>

<body>
  <!--Navbar-->
  <%= render 'web/layouts/header' %>

  <!--Carousel-->
  <% if controller_name == 'static_pages' && action_name == 'home' %>
    <%= render 'web/layouts/carousel' %>
  <% end %>

  <br>

  <!--Rest of the page-->
  <div class="container marketing">
    <%= render partial: 'web/shared/alert' %>
    <%= yield %>
    <%= render 'web/layouts/footer' %>
  </div>
</body>
</html>
