<!--TODO:UI and confirm then signin automatically-->
<h2><%= t('.Resend_confirmation_instructions') %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <% devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,
                      autofocus: true,
                      id: 'resend_confirmation_email' %>
  </div>

  <div class="actions">
    <%= f.submit t('.Resend_confirmation_instructions'), id: 'resend_confirmation_button' %>
  </div>
<% end %>

<%= render "web/users/shared/links" %>
