<!-- Modal -->
<div class="modal fade"
     id="signupModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="signupModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"
            id="signupModalLabel">
          <span class="glyphicon glyphicon-thumbs-up"
                aria-hidden="true"></span><%= t('.Sign_up') %>
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for(resource,
                     as: resource_name,
                     url: registration_path(resource_name)) do |f| %>
            <div class="input-group email">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
              </span>
              <%= f.email_field :email,
                                placeholder: (t '.Email'),
                                class: 'form-control',
                                id: 'signup_email' %>
            </div>
            <br>
            <div class="input-group text">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <%= f.text_field :username,
                               placeholder: (t '.Username'),
                               class: 'form-control',
                               id: 'signup_username' %>
            </div>
            <br>
            <div class="input-group password">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <%= f.password_field :password,
                                   placeholder: (t '.Password'),
                                   class: 'form-control',
                                   id: 'signup_password',
                                   autocomplete: "off" %>
            </div>
            <br>
            <div class="input-group password">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-check"></i>
              </span>
              <%= f.password_field :password_confirmation,
                                   placeholder: (t '.Confirm_password'),
                                   class: 'form-control',
                                   id: 'signup_password_confirm',
                                   autocomplete: "off" %>
            </div>
            <br>
            <%= f.submit (t '.Sign_up'), class: 'btn btn-primary', id: 'signup_submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>