<br/>
<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put, multipart: true }) do |f| %>
    <div class="row">
      <aside class="col-md-4">
        <div class="img-circle">
          <%= gravatar_for @user %>
        </div>
        <br/>
        <div class="input-block img-circle">
          <%= f.file_field :avatar %>
        </div>
        <div class="red-button">

        </div>
      </aside>
      <div class="col-md-6">
        <h2><%= t('.Edit') %></h2>
        <br/>

        <% devise_error_messages! %>

        <div class="input-block text">
          <%= f.label t('.username') %><i><%= "(#{t('.email')}: " + "#{@user.email})" %></i><br/>
          <%= f.text_field :username,
                           autofocus: true,
                           value: @user.username,
                           class: 'form-control' %>
        </div>
        <br/>

        <div class="input-block text">
          <%= f.label t('.company') %>
          <%= f.text_field :title,
                           value: @user.company,
                           class: 'form-control' %>
        </div>
        <br/>

        <div class="input-block text">
          <%= f.label t('.country') %>
          <%= f.text_field :country,
                           value: @user.country,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.state') %>
          <%= f.text_field :state,
                           value: @user.state,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.city') %>
          <%= f.text_field :city,
                           value: @user.city,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.address1') %>
          <%= f.text_field :address1,
                           value: @user.address1,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.address2') %>
          <%= f.text_field :address2,
                           value: @user.address2,
                           class: 'form-control' %>
        </div>
        <br/>

        <div class="input-block text">
          <%= f.label t('.dial_code') %>
          <%= f.text_field :dial_code,
                           value: @user.dial_code,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.phone') %>
          <%= f.text_field :telephone,
                           value: @user.phone,
                           class: 'form-control' %>
        </div>
        <div class="input-block text">
          <%= f.label t('.telephone') %>
          <%= f.text_field :telephone,
                           value: @user.telephone,
                           class: 'form-control' %>
        </div>
        <br/>

        <div class="input-block password">
          <%= f.label t('.password') %> <i><%= t('.password_note') %></i><br/>
          <%= f.password_field :password,
                               autocomplete: "off",
                               class: 'form-control' %>
        </div>
        <div class="input-block password">
          <%= f.label t('.password_confirmation') %><br/>
          <%= f.password_field :password_confirmation,
                               autocomplete: "off",
                               class: 'form-control' %>
        </div>
        <br/>
        <hr/>
        <br/>

        <%= f.label t('.current_password') %><br/>
        <div class="input-group password">
          <div>
            <%= f.password_field :current_password,
                                 autocomplete: "off",
                                 class: 'form-control' %>
          </div>
          <span class="input-group-btn" style="padding-left: 10px">
              <div class="actions">
                <%= f.submit t('.Update'), id: 'update_button', class: 'btn btn-primary' %>
              </div>
            </span>
        </div>
      </div>
    </div>
<% end %>






