<% flash.each do |key, value| %>
    <% if key == 'notice' %>
    <% key = 'info' %>
    <% elsif key == 'alert' %>
    <% key = 'warning' %>
    <% elsif key == 'error' %>
    <% key = 'danger' %>
    <% else %>
    <% key = 'success' %>
    <% end %>

    <% messages = value.to_s.split("<br/>") %>
    <% if messages.is_a?(Array) %>
      <% messages.uniq! %>
    <% end %>

    <div>
      <div class="alert alert-<%= key %>" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"><%= key %>:</span>
        <% if key == 'info' %>
          <%= t('.Information') + ':' %>
        <% elsif key == 'warning' %>
          <%= t('.Warning') + ':' %>
        <% elsif key == 'danger' %>
          <%= t('.The_action_contains') + ':' %>
        <% else %>
          <%= t('.Information') + ':' %>
        <% end %>
        <ul>
          <% messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>