<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="following_events" class="stat">
      <%= 'TODO' %>
    </strong>
    following events
  </a>
  <a href="#">
    <strong id="owning_events" class="stat">
      <%= 'TODO' %>
    </strong>
    owning events
  </a>
</div>