<!--TODO-->
<h2><%= t('.forgot_your_password') %></h2>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :post }) do |f| %>
  <% devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,
                      autofocus: true,
                      id: 'forgot_password_email' %>
  </div>

  <div class="actions">
    <%= f.submit t('.send_me_reset_password_instructions'), id: 'forgot_password_button' %>
  </div>
<% end %>

<%= render "web/users/shared/links" %>
