/* universal */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* _footer.html.erb */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid darkgray;
  color: darkgray;
  a {
    color: darkgray;
    &:hover {
      color: #222;
    }
  }

  ul#function_links {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}

/* _header.html.erb */
nav {
  #logo {
    font-size: 1.7em;
    color: darkred;
    letter-spacing: 0px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

/* modal background not scroll */
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* customized carousel */
.item, .active {
  height: 100%;
}

.carousel {
  height: calc(100% - 50px);
}

.carousel-inner {
  height: 100%;
}

.carousel {
  margin-bottom: 0px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #777;
}

.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel .carousel-inner .bg1 {
  background-image: url(image_path('slide_image1.jpg'));
  background-position: center top;
}

.carousel .carousel-inner .bg2 {
  background-image: url(image_path('slide_image1.jpg'));
  background-position: center center;
}

.carousel .carousel-inner .bg3 {
  background-image: url(image_path('slide_image1.jpg'));
  background-position: center bottom;
}

/* Customize the navbar */
.navbar {
  margin-bottom: 0;
}

/* Account btn */
#account-btn {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

